body{
  /* This part effects all things in site. */
  background: url('https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28313.jpg?w=360');
  background-repeat : repeat;
  color: white;
}


hr{
  border-width: 10px;
  border-style: dotted;
  border-color: white;
  margin: 5% 40%;
  border-radius: 100%;
}

div{
  background-color: green;
  border-color: blue;
  border-width: 2px;
  border-style: dashed;
}

div p {
  color: white;
}

span{
  color: black;
}
